.center-search{
    display: flex;
    justify-content: center;
}

.filter-top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 2px;
    width: 50%;
    margin-left: 10%;
}

.center-jobs{
    display: flex;
    justify-content: center;
}


.all-jobs{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2%;
    margin-left: -4%;
}

.all-jobs:last-child{
    margin-bottom: 15%;
}

.jobs{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2%;
    margin-left: -4%;
}

.jobs:last-child{
    margin-bottom: 0%;
}

.entire-card{
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 8pt;
    width: 400px;

    margin: 3%;
    padding: 5%;
}

.entire-card-yellow{
    background: linear-gradient(84deg, rgba(255, 200, 87, 0.5) 0%, rgba(253, 250, 244, 1) 100%);
    border: 1px solid #ccc;
    border-radius: 8pt;
    width: 400px;

    margin: 3%;
    padding: 5%;
}

.vac-title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-bottom: 2px;

    font-family: 'Proxima Nova Alt';
}

.uurloon{
    color: darkgray;
    font-size: 12pt;
}

.vac-gevraagd-uurloon{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    font-family: 'Proxima Nova Alt';
}

.nodig{
    background-color: #FFBABA;
    color: #FF4242;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 2pt;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin-right: 10px;
}

.side-side{
    display: flex;
    flex-direction: row;
}

.vac-beschrijving{
    margin-left: 10pt;

    display: flex;
    font-family: 'Proxima Nova Alt';
}

.favorite{
    margin-left: 100px;
    margin-top: 15px;

    font-size: 20pt;
    font-weight: bold;
}

#chrome{
    width: 35px;
    height: 35px;
    margin: 5pt;
}

.vac-bedrijf{
    font-size: 12pt;  
    font-weight: bold;
}

.vac-locatie{
    display: flex;
    flex-direction: row;
    color: darkgray;
    font-size: 12pt;
    margin-right: 5px;
}

.vac-locatie p{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 150px;
}

.vac-locatie img{
    width: 13px;
    height: 16px;
    margin-right: 5px;
    margin-top: 3px;
}

#filter-id{
    margin-top: 25px;
}

.submit_btn{
    color: whitesmoke;
    background-color: #FF4242;
    padding: 5PX 10PX 5PX 10PX;
    margin-top: 10px;
    border-radius: 5px;
}


[type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    background-color: #FF4242;
    border-radius: 5px;
}

#order{
    border-radius: 5pt;
    padding: 5px 10px 5px 10px;
}

.pro{
    background-color: #FF4242;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}


@media only screen and (max-width: 1350px) {
    .all-jobs{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 2%;
    }

    .filter-top{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 2px;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 820px) {
    .all-jobs{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 2%;
    }

    .rounded-r-full{
        display: none;
    }

    .fill-current:first-child{
        display: none;
    }

    .filter-top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-gap: 2px;
        margin-left: 20%;
    }
}

